* {
  margin: 0;
  padding: 0;
  /*  box-sizing: border-box;*/
}

nav {}

nav div.logo {
  width: 20%;
  padding-right: 10%;
  height: 40px;
  background-color: brown;
  float: left;
}

nav ul {
  width: 70%;
  height: 40px;
  background-color: darkcyan;
  float: left;
  list-style: none;
}

nav li {
  float: left;
  width: 25%;
}

nav a {
  display: block;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-family: arial;
  line-height: 40px;
  transition: .2s;
}

nav a:hover {
  font-size: 26px;
}
